<h1>Category List</h1>

<!-- Modal -->
<div class="modal fade" id="addCategoryDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Category</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="fcategory">

		  <div class="form-group">
		    <label for="category-name" class="col-sm-4 control-label">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" name="name" placeholder="Category Name" ng-model="selectedCategory.name" required>
		      <div class="error-container" ng-show="fcategory.name.$dirty && fcategory.name.$invalid">
			    <small class="error" ng-show="fcategory.name.$error.required">Please input category</small>
			  </div>
		    </div>
		  </div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal" ng-disabled="fcategory.$invalid">Save</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addCategoryDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-if="category != null" ng-repeat="x in category">
			<td>{{x.name}}</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addCategoryDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
		<tr ng-if="category == null">
			<td colspan="2" style='text-align:center;vertical-align:middle'>No data</td>
		</tr>
	</tbody>

</table>