<h1>SPI List</h1>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Periode</th>
			<th>Weight</th>
			<th>
				<button class="btn" ng-click="go('/spi_new')" data-toggle="modal" data-target="#addProductDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-if="products != null" ng-repeat="x in products">
			<td>{{x.name}}</td>
			<td></td>
		</tr>
		<tr ng-if="products == null">
			<td colspan="3" style='text-align:center;vertical-align:middle'>No data</td>
		</tr>
	</tbody>

</table>