<h1>Sales Performance Index</h1>

<div ng-repeat="x in spis">
<target show="toggleModal"></target>
<achievement show="toggleModal"></achievement>
</div>

<form name="filterForm" class="form-horizontal" role="form">
	<fieldset>
	<legend><span>Filter</span></legend>
	<div class="form-group">
	<label for="code" class="col-sm-4 control-label">Branch</label>
	<div class="col-sm-8">
		<select ng-change="changed()" ng-model="OptBranch" name="branchName" ng-options="x.id as x.name for x in OptBranch">
			 <option style="display:none" value="">Select a branch</option>
		</select>
	</div>
	</div>

	<div class="form-group">
	<label for="code" class="col-sm-4 control-label">Periode</label>
	<div class="col-sm-8">
		<input type="month"
		       ng-model="periodeDate"
		       [name="periodeDate"]
		       [placeholder="yyyy-MM"]
		       [min=""]
		       [max=""]
		       [required]
		       [ng-required=""]
		       [ng-change=""]>
	</div>
	</div>
	
	<div class="form-group">
	<label for="code" class="col-sm-4 control-label"/>
	<div class="col-sm-8">
		<button type="button" class="btn btn-primary" ng-click="filterSpi(filterForm)" data-dismiss="modal">Submit</button>
	</div>
	</div>
	
	
	</fieldset>
</form>

<br/>


<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th rowspan="4">Segment</th>
			<th colspan="6" style='text-align:center;vertical-align:middle'>Sales</th>		
		</tr>
		<tr><th colspan="6" style='text-align:center;vertical-align:middle'>October</th></tr>
		<tr>
			<th colspan="2" style='text-align:center;vertical-align:middle'>Target</th>
			<th colspan="2" style='text-align:center;vertical-align:middle'>Achievment</th>
			<th colspan="2" style='text-align:center;vertical-align:middle'>Percentage(%)</th>
		</tr>
		<tr>
			<th style='text-align:center;vertical-align:middle'>New</th>
			<th style='text-align:center;vertical-align:middle'>RO</th>
			<th style='text-align:center;vertical-align:middle'>New</th>
			<th style='text-align:center;vertical-align:middle'>RO</th>
			<th style='text-align:center;vertical-align:middle'>New</th>
			<th style='text-align:center;vertical-align:middle'>RO</th>
		</tr>
	</thead>

	<tbody>
		<tr  ng-repeat="x in spi | unique:'product.name'">
			<td style='text-align:center;vertical-align:middle'>{{x.product.name}}</td>
			<td style='text-align:center;vertical-align:middle'>70 &nbsp;|&nbsp;<a data-toggle="modal" data-target="#target_{{x.name}}_{{$index}}">Add</a></td>
			<td style='text-align:center;vertical-align:middle'></td>
			<td style='text-align:center;vertical-align:middle'>70 &nbsp;|&nbsp;<a data-toggle="modal" data-target="#achievement_{{x.name}}_{{$index}}">Add</a></td>
			<td style='text-align:center;vertical-align:middle'>{{filterSpiData.spiRealisation.realisation}}</td>
			<td style='text-align:center;vertical-align:middle'></td>
			<td style='text-align:center;vertical-align:middle'></td>
		</tr>
	</tbody>

</table>