<!-- Modal Target-->
<div ng-repeat="x in spis">
<div class="modal fade" id="target_{{x.name}}_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Target</h4>
      </div>
      <div class="modal-body">
        <form name="targetForm" ng-controller="TargetCtrl" class="form-horizontal" role="form">

       	 <div class="form-group">
		    <label for="variable-name" class="col-sm-4 control-label">Variable</label>
		    <div class="col-sm-8">
		     <select ng-change="changedVar()" ng-model="selectedTarget.var.id" name="var" ng-options="x.id as x.name for x in OptVar">
					 <option style="display:none" value="">Select a variable</option>
			 </select>
		    </div>
		  </div>


       	 <div class="form-group">
		    <label for="branch-name" class="col-sm-4 control-label">Branch</label>
		    <div class="col-sm-8">
		     <select ng-change="changedBranch()" ng-model="selectedTarget.branch.id" name="branch" ng-options="x.id as x.name for x in OptBranch">
					 <option style="display:none" value="">Select a branch</option>
			 </select>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="period" class="col-sm-4 control-label">Period</label>
		    <div class="col-sm-8">
		    	<input type="month"
				       ng-model="selectedTarget.period"
				       [name="period"]
				       [min=""]
				       [max=""]
				       [required=""]
				       [ng-required=""]
				       [ng-change=""]>
		     	<input type="hidden" class="form-control" id="month" placeholder="Month" ng-model="selectedTarget.period.month">
		     	<input type="hidden" class="form-control" id="year" placeholder="Year" ng-model="selectedTarget.period.year">
		    </div>
		  </div>


		  <div class="form-group">
		    <label for="target" class="col-sm-4 control-label">Target</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" placeholder="Target" ng-model="selectedTarget.target">
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="target" class="col-sm-4 control-label"></label>
		    <div class="col-sm-8">
		     	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<button type="button" class="btn btn-primary" ng-click="save(selectedTarget)" data-dismiss="modal">Save</button>
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
  
      </div>
    </div>
  </div>
</div>
</div>