<h1>KPI Variable List</h1>

<!-- Modal -->
<div class="modal fade" id="addKpiVariableDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New KPI Variable</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="fkpi_var" novalidate>
		  <div class="form-group">
		    <label for="kpi-variable-name" class="col-sm-4 control-label">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" name="kpi_var_name" placeholder="KPI Variable Name" ng-model="selectedKpiVariable.name" required>
		      <div class="error-container" ng-show="fkpi_var.kpi_var_name.$dirty && fkpi_var.kpi_var_name.$invalid">
			    <small class="error" ng-show="fkpi_var.kpi_var_name.$error.required">Please input a name</small>
			  </div>
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="save()" data-dismiss="modal" ng-disabled="fkpi_var.$invalid">Save</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addKpiVariableDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="x in kpiVariable">
			<td>{{x.name}}</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addKpiVariableDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
	</tbody>

</table>