<h1>Branch List</h1>

<!-- Modal -->
<div class="modal fade" id="addBranchDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Branch</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="fbranch">

		  <div class="form-group">
		    <label for="branch-name" class="col-sm-4 control-label">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" name="name" placeholder="Branch Name" ng-model="selectedBranch.name" required>
		      <div class="error-container" ng-show="fbranch.name.$dirty && fbranch.name.$invalid">
			    <small class="error" ng-show="fbranch.name.$error.required">Please input branch name</small>
			  </div>
		    </div>
		  </div>

		    <div class="form-group">
		    <label for="branch-description" class="col-sm-4 control-label">Description</label>
		    <div class="col-sm-8">
		      <textarea class="form-control" id="description" name="description" placeholder="Description Name" ng-model="selectedBranch.description"></textarea>
		      <div class="error-container" ng-show="fbranch.description.$dirty && fbranch.description.$invalid">
			    <small class="error" ng-show="fbranch.description.$error.required">Please select category</small>
			  </div>
		    </div>
		  </div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal" ng-disabled="fbranch.$invalid">Save</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addBranchDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-if="branch != null" ng-repeat="x in branch">
			<td>{{x.name}}</td>
			<td>{{x.description}}</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addBranchDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
		<tr ng-if="branch == null">
			<td colspan="3" style='text-align:center;vertical-align:middle'>No data</td>
		</tr>
	</tbody>

</table>