<h1>Variable Type List</h1>

<!-- Modal -->
<div class="modal fade" id="addVariableTypeDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Variable</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="fvar_type" novalidate>

		 <div class="form-group">
		    <label for="product-name" class="col-sm-4 control-label">KPI Variable</label>
		    <div class="col-sm-8">
		     <select ng-change="changed()" ng-model="selectedVariableType.kpiVar.id" name="kpiVar" ng-options="x.id as x.name for x in OptKpiVar" required>
					 <option style="display:none" value="">Select a kpi var</option>
			 </select>
			 <div class="error-container" ng-show="fvar_type.kpiVar.$dirty && fvar_type.kpiVar.$invalid">
			    <small class="error" ng-show="fvar_type.kpiVar.$error.required">Please select a var type</small>
			  </div>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="variable-type-name" class="col-sm-4 control-label">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" name="name" placeholder="Variable Type Name" ng-model="selectedVariableType.name" required>
		      <div class="error-container" ng-show="fvar_type.name.$dirty && fvar_type.name.$invalid">
			    <small class="error" ng-show="fvar_type.name.$error.required">Please input var name</small>
			  </div>
		    </div>
		  </div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal" ng-disabled="fvar_type.$invalid">Save</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>KPI Variable</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addVariableTypeDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="x in variableType">
			<td>{{x.name}}</td>
			<td>{{x.kpiVar.name}}</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addVariableTypeDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
	</tbody>

</table>