<h1>Achievement List</h1>

<div class="modal fade" id="addNewAchievementDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Achievement</h4>
      </div>
      <div class="modal-body">
        <form name="fachievement" ng-controller="AchievementCtrl" class="form-horizontal" role="form">

       	 <div class="form-group">
		    <label for="variable-name" class="col-sm-4 control-label">Variable</label>
		    <div class="col-sm-8">
		     <select ng-change="changedVar()" ng-model="selectedAchievement.var.id" name="var" ng-options="x.id as x.name for x in OptVar" requireds>
					 <option style="display:none" value="">Select a variable</option>
			 </select>
			  <div class="error-container" ng-show="fachievement.var.$dirty && fachievement.var.$invalid">
			    <small class="error" ng-show="fachievement.var.$error.required">Please select variable</small>
			  </div>
		    </div>
		  </div>


       	 <div class="form-group">
		    <label for="branch-name" class="col-sm-4 control-label">Branch</label>
		    <div class="col-sm-8">
		     <select ng-change="changedBranch()" ng-model="selectedAchievement.branch.id" name="branch" ng-options="x.id as x.name for x in OptBranch" required>
					 <option style="display:none" value="">Select a branch</option>
			 </select>
			<div class="error-container" ng-show="fachievement.branch.$dirty && fachievement.branch.$invalid">
			    <small class="error" ng-show="fachievement.branch.$error.required">Please select branch</small>
			  </div>
		    </div>
		  </div>


		  <div class="form-group">
		    <label for="target" class="col-sm-4 control-label">Achievement</label>
		    <div class="col-sm-8">
		      <input type="number" class="form-control" id="achievement" name="achievement" placeholder="Achievement" ng-model="selectedAchievement.achievement" required>
		      <div class="error-container" ng-show="fachievement.achievement.$dirty && fachievement.achievement.$invalid">
			    <small class="error" ng-show="fachievement.achievement.$error.required">Please input achievement</small>
			    <small class="error" ng-show="fachievement.achievement.$error.number">Please valid number</small>
			  </div>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="target" class="col-sm-4 control-label"></label>
		    <div class="col-sm-8">
		     	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<button type="button" class="btn btn-primary" ng-click="save(selectedAchievement)" data-dismiss="modal" ng-disabled="fachievement.$invalid">Save</button>
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
  
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Branch</th>
			<th>Product</th>
			<th>Variable</th>
			<th>Variable Type</th>
			<th>KPI Variable</th>
			<th>Target</th>
			<th>Achievement</th>
			<th>Entry Date</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addNewAchievementDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="x in varAchievement">
			<td>{{x.branch.name}}</td>
			<td>{{x.var.product.name}}</td>
			<td>{{x.var.name}}</td>
			<td>{{x.var.varType.name}}</td>
			<td>{{x.var.varType.kpiVar.name}}</td>
			<td>{{x.varTarget.target}}</td>
			<td>{{x.achievement}}</td>
			<td>{{x.entryDate}}</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addNewAchievementDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
	</tbody>

</table>