<h1>Segment List</h1>

<!-- Modal -->
<div class="modal fade" id="addSegmentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Segment</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">

		  <div class="form-group">
		    <label for="code" class="col-sm-4 control-label">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" placeholder="Segment Name" ng-model="selectedSegment.name">
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="code" class="col-sm-4 control-label">Weight</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="weight" placeholder="weight" ng-model="selectedSegment.weight">
		    </div>
		  </div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveSegment()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>Weight</th>
			<th>
				<button class="btn" ng-click="createSegment()" data-toggle="modal" data-target="#addSegmentDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="x in segments">
			<td>{{x.name}}</td>
			<td>{{x.weight}}</td>
			<td>
				<button class="btn" ng-click="editSegment(x)" data-toggle="modal" data-target="#addSegmentDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="deleteSegment(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
	</tbody>

</table>