<h1>Product List</h1>

<!-- Modal -->
<div class="modal fade" id="addProductDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Product</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="fproduct">

		 <div class="form-group">
		    <label for="product-name" class="col-sm-4 control-label">Category</label>
		    <div class="col-sm-8">
		     <select ng-change="changedCategory()" ng-model="selectedProduct.category.id" name="category" ng-options="x.id as x.name for x in OptCategory" required>
					 <option style="display:none" value="">Select a category</option>
			 </select>
			  <div class="error-container" ng-show="fproduct.category.$dirty && fproduct.category.$invalid">
			    <small class="error" ng-show="fproduct.category.$error.required">Please select category</small>
			  </div>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="product-name" class="col-sm-4 control-label">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" name="name" placeholder="Product Name" ng-model="selectedProduct.name" required>
		        <div class="error-container" ng-show="fproduct.name.$dirty && fproduct.name.$invalid">
			    <small class="error" ng-show="fproduct.name.$error.required">Please input product name</small>
			  </div>
		    </div>
		  </div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal" ng-disabled="fproduct.$invalid">Save</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addProductDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="x in products">
			<td>{{x.name}}</td>
			<td>{{x.category.name}}</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addProductDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
	</tbody>

</table>