<h1>Spi Index</h1>

<!-- Modal -->
<div class="modal fade" id="addSpiIndexDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Spi Index</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">

		  <div class="form-group">
		    <label for="code" class="col-sm-4 control-label">Spi Index</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="spi_index" placeholder="Spi Index" ng-model="selectedSpiIndex.spiIndex">
		    </div>
		  </div>

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveSpiIndex()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>SPI Index</th>
			<th>
				<button class="btn" ng-click="createSpiIndex()" data-toggle="modal" data-target="#addSpiIndexDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="x in spii">
			<td>{{x.spiIndex}}</td>
			<td>
				<button class="btn" ng-click="editSpiIndex(x)" data-toggle="modal" data-target="#addSpiIndexDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="deleteSpiIndex(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
	</tbody>

</table>