<h1>Variable List</h1>

<!-- Modal -->
<div class="modal fade" id="addVariableDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Variable</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="fvar" role="form" novalidate>

		 <div class="form-group">
		    <label for="product-name" class="col-sm-4 control-label">Product</label>
		    <div class="col-sm-8">
		     <select ng-change="changed()" ng-model="selectedVariable.product.id" name="product" ng-options="x.id as x.name for x in OptProduct" required>
					 <option style="display:none" value="">Select a product</option>
			 </select>
			  <div class="error-container" ng-show="fvar.product.$dirty && fvar.product.$invalid">
			    <small class="error" ng-show="fvar.product.$error.required">Please select a product</small>
			  </div>
		    </div>
		  </div>

		   <div class="form-group">
		    <label for="variable-type" class="col-sm-4 control-label">Variable Type</label>
		    <div class="col-sm-8">
		     <select ng-change="changedVarType()" ng-model="selectedVariable.varType.id" name="varType" ng-options="x.id as x.name for x in OptVarType" required>
					 <option style="display:none" value="">Select a variable type</option>
			 </select>
			 <div class="error-container" ng-show="fvar.varType.$dirty && fvar.varType.$invalid">
			    <small class="error" ng-show="fvar.varType.$error.required">Please select a var type</small>
			  </div>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="variable-name" class="col-sm-4 control-label">Name</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="name" name="name" placeholder="Variable Name" ng-model="selectedVariable.name" required>
		      <div class="error-container" ng-show="fvar.name.$dirty && fvar.name.$invalid">
			    <small class="error" ng-show="fvar.name.$error.required">Please input variable name</small>
			  </div>
		    </div>
		  </div>

		    <div class="form-group">
		    <label for="variable-description" class="col-sm-4 control-label">Description</label>
		    <div class="col-sm-8">
		      <textarea class="form-control" id="description" name="description" placeholder="Description Name" ng-model="selectedVariable.description"></textarea>
		      <div class="error-container" ng-show="fvar.description.$dirty && fvar.description.$invalid">
			    <small class="error" ng-show="fvar.description.$error.required">Please input description</small>
			  </div>
		    </div>
		  </div>

		    <div class="form-group">
		    <label for="variable-weight" class="col-sm-4 control-label">Weight</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="weight" name="weight" placeholder="Weight" ng-model="selectedVariable.weight" required>
		       <div class="error-container" ng-show="fvar.weight.$dirty && fvar.weight.$invalid">
			    <small class="error" ng-show="fvar.weight.$error.required">Please input weight</small>
			  </div>
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal" ng-disabled="fvar.$invalid">Save</button>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered table-striped">
	
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Weight</th>
			<th>
				<button class="btn" ng-click="create()" data-toggle="modal" data-target="#addVariableDialog">
					<span class="glyphicon glyphicon-plus"></span>
					add
				</button>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="x in variable">
			<td>{{x.name}}</td>
			<td>{{x.description}}</td>
			<td>{{x.weight}}</td>
			<td>
				<button class="btn" ng-click="edit(x)" data-toggle="modal" data-target="#addVariableDialog">
					<span class="glyphicon glyphicon-pencil"></span>
					edit
				</button>
				<button class="btn" ng-click="delete(x)">
					<span class="glyphicon glyphicon-remove"></span>
					delete
				</button>
			</td>
		</tr>
	</tbody>

</table>