<div class="row marketing">
  <h4>Welcome</h4>
  <p>
    Applikasi untuk mengukur kinerja utama cabang yang digunakan untuk membantu menentukan pertumbuhan 
    suatu cabang , sehingga cabang dapat lebih mengetahui secara tepat strategi yang akan digunakan 
    untuk lebih meningkatkan pertumbuhan cabang 
  </p>
</div>
